<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
    	A zeal for programming keeps me driven to seek for software challenges and new ideas. In my various attempts 
    	to solve problems whether alone or in a team my focus remains on good design and understanding of the logic 
    	and theory behind the problem. I have knowledge Java, Python, Scala and across different frameworks and platforms 
    	and look forward to constantly growing my skills and applying them to produce wonderful products in future.
    </p>
</div><!--//summary-->
</section><!--//section-->