 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Masters in Computer Science</h4>
    <h5 class="meta">University of Texas at Dallas</h5>
    <div class="time">Jan,2015 - Dec,2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B. Tech. in Computer Science and Engineering</h4>
    <h5 class="meta">National Institute of Technology, Raipur</h5>
    <div class="time">2009 - 2013</div>
</div><!--//item-->
<div class="item">
    <!-- <h4 class="degree">Resume/CV</h4> -->
    <h5 class="meta"><a href="https://goo.gl/kQ5KoB
"><b>RESUME</b></a></h5>
    <div class="time">Updated, Dec 2016</div>
</div><!--//item-->
</div><!--//education-container-->