<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer (Subject Matter Expert)</h3>
                            <div class="time">2013-2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amdocs Inc., DVCI Pune</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>*  Implemented backend software integrations for Amdocs Ensemble framework. (Unix/Linux shell scripting, Java) </p>
                        <p>*   Developed robust software modules to analyze distributed environments and their load-balancing. </p>
<p>*   Software and scripts to track and maintain Linux environment configurations using Git, as part of Innovation Team effort. (Java)</p>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java Developer Internship</h3>
                            <div class="time">May-June, 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://globussoft.com/">GlobusSoft Pvt. Ltd., India</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>*    Developed a Java based RCP application to implement business crawler, to procure, track and update data from online product catalogues.</p>
                        <p>
*   Developed a mini-search utility to allow users to search for products for brands from data that was gathered.
</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Grading Assistant (CS1335, Computer Science I)</h3>
                            <div class="time">Feb,2015 - July,2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Texas at Dallas</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for grading, evaluation and consultation for projects, assignments and homeworks for the Computer Science I course for Non-majors under Dr. Karen Doore.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->