<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <!-- <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">People Data application</a></span> 
                    <div class="time">2013-2014</div>
                    
                     <span class="project-tagline"> (Python, Django, MongoDB, AWS, Linux) </span>
                    <p>
                        <ul>
                        <li>Worked single-handedly on internal web app, that provides live data from numerous job sites and academic sites about the students and alumnus.</li> 
                        <li>Implemented data extraction modules in form of Django models and external controller classes.</li>
                        <li>Implemented multiple collections in MongoDB for hierarchical storage and fast access modules using PyMongo.</li>
                        <li>Normalization of the models in Django, by defining separate Documents such as for education, pictures, experiences, personal info etc. </li>
                        <li>Implemented separate controllers for authorizations, connection establishment, database operations and API integrations.</li>
                        <li>Strictly focused on MVC principles and loose coupling of modules.</li>
                    <ul>
                    </p>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Health and Recipes Share and Micro-Blogging web-app</a></span>  
                    <span class="project-tagline"> (Java, JSP, HTML, Javascript, MySQL)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Flights Management System </a></span> <span class="project-tagline"> (Java, JSP, JDBC, MySQL 5) </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> CarGo - Used Cars buy and sell REST application </a></span> 
                    <span class="project-tagline"> (Ruby on Rails, HTML, JavaScript) </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Automobile Search Engine</a></span>
                     <span class="project-tagline"> (Java, JSP, Lucene, SOLR, Nutch) </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Website Fingerprinting Counter attack – Big Data</a></span> 
                    <span class="project-tagline"> (Python, Numpy, Hadoop, full ETL pipeline) </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> DBMS Indexing System techniques</a></span> 
                    <span class="project-tagline"> (Java) </span>
                </div><!--//item-->
            </section><!--//section-->