<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <!-- <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Independent Study Project (Data Search and profiling, Data Mining)</a></span>
                     <span class="project-tagline"> (Python, Django, MongoDB, REST) </span>
                     <p>
                        <ul>
                            <li>Developed a project for mining information on students and alumnus from data collected from social and online portals.</li>
                            <li>Implemented RESTful services for data parsing module, search, login, authorization, advanced search, profile creation modules</li>
                            <li>Implemented internal controller modules for authorizations, database operations and API integrations</li>
                            

                        </ul>
                    </p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Automobile Search Engine (Web based service)</a></span>
                     <span class="project-tagline"> (Java, JSP, Lucene, SOLR, Nutch) </span>
                     <p>
                        <ul>
                            <li>Developed a search engine over 120,000 documents relevant to automobiles (brands, sales, blogs, news).</li>
                            <li>The documents were crawled and stored using Nutch 1.4</li>
                            <li>The indexing system was implemented using SOLR 4.10 platform. Implemented PageRank with TFIDF and Okapi weighting scheme</li>
                            <li>Query time relevance was also implemented to test the effect of HITS algorithm on the results, which clearly showed improvement</li>

                        </ul>
                    </p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Online collaborative whiteboard (real-time canvas)</a></span>
                     <span class="project-tagline"> (HTML, Javascript, Node.js, Sockets.io) </span>
                     <p>
                        <ul>
                            <li>Online shared canvas that can be edited by many users at a time, developed by leveraging Node.js and sockets.io</li> 
                            <li>Implemented Node.js project setup, Socket calls module.</li>
                        
                        </ul>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Vector Space modelling and relevance computation</a></span>
                     <span class="project-tagline"> (Java, Stanford core NLP, linux) </span>
                     <p>
                        <ul>
                            <li> Implemented Vector Space model based relevance models using TF-IDF and Okapi(BM25) weighting schemes, and analysed the relevance results obtained.</li>
                            <li>Extensive use of TreeMap data structure to store the inverted term and stem indexes in memory helped to achieve faster calculations.</li>
                            <li>BM25 was found to provide better accuracy and more documents ranked when run on cranfield data index.</li>
                        </ul>
                    </p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Search Engine Index Compression </a></span>
                     <span class="project-tagline"> (Java, Stanford core NLP, Linux)</span>
                     <p>
                        <ul>
                            <li>Lemmatization of valid tokens and storage. Implemented dictionary compression using Front Coding. </li>
                            <li> Postings lists and specific document statistics were compressed using Gamma and Delta compressions respectively.</li> 
                            <li>Reduction of approximately 65% in full index size was evident after compression for the Cranfield dataset.</li>

                        </ul>
                    </p>
                </div><!--//item-->
                <!-- <div class="item">
                    <span class="project-title"><a href="#hook">People Data application</a></span> 
                    <div class="time">2013-2014</div>
                    
                     <span class="project-tagline"> (Python, Django, MongoDB, AWS, Linux) </span>
                    <p>
                        <ul>
                        <li>Worked single-handedly on internal web app, that provides live data from numerous job sites and academic sites about the students and alumnus.</li> 
                        <li>Implemented data extraction modules in form of Django models and external controller classes.</li>
                        <li>Implemented multiple collections in MongoDB for hierarchical storage and fast access modules using PyMongo.</li>
                        <li>Normalization of the models in Django, by defining separate Documents such as for education, pictures, experiences, personal info etc. </li>
                        <li>Implemented separate controllers for authorizations, connection establishment, database operations and API integrations.</li>
                        <li>Strictly focused on MVC principles and loose coupling of modules.</li>
                    <ul>
                    </p>
                    
                </div><!--//item--> -->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Health and Recipes Share and Micro-Blogging web-app</a></span>  
                    <span class="project-tagline"> (Java, JSP, HTML, Javascript, MySQL)</span>
                    <p>
                        <ul>
                            <li>Worked in a team of 3, to develop a recipe sharing/ blogging app using Java technologies and Agile UP principles.</li>
                            <li>Implementation of Adapter pattern, Factory pattern and Singleton pattern according to strict OOP principles.</li>
                            <li>Project was developed in 3 iterations following Agile based Object Oriented development patterns. Technologies used were Java, JSP/Servlet, MySQL.  </li>

                        </ul>
                    </p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Flights Management System </a></span> <span class="project-tagline"> (Java, JSP, JDBC, MySQL 5) </span>
                    <p>
                        <ul>
                            <li>Developed a web-application to manage and display flights, passenger details, booking information with simple database search feature.</li>
                            <li>Implemented server-side module classes for connectivity, CRUD and join operations, for MySQL using MySQL Connector.</li>
                            <li>Increased waiting time for database operations was countered by loading required data into in-memory Hashmaps</li>

                        </ul>
                    </p>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> CarGo - Used Cars buy and sell REST application </a></span> 
                    <span class="project-tagline"> (Ruby on Rails, HTML, JavaScript) </span>
                    <p>
                        <ul>
                            <li>Ruby on Rails based web-application to buy and sell used cars, along with Craigslist like abilities and interface using Agile methodology, in a duration of 3 weeks. Followed integration testing approach, and developed in a team of 2.</li>
                        </ul>
                    </p>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> Website Fingerprinting Counter attack – Big Data</a></span> 
                    <span class="project-tagline"> (Python, Numpy, Hadoop, full ETL pipeline) </span>
                    <p>
                        <ul>
                            <li>The task was to develop a website fingerprinting counter attacking analyzer.</li>
                            <li>Implementation of classification techniques to provide a temporally improving model for better online-attack analysis</li>
                            <li>We achieved an average 70% accuracy at best using our Ensemble of classifications</li>

                        </ul>
                    </p>
                </div>
                <!-- <div class="item">
                    <span class="project-title"><a href="#" target="_blank"> DBMS Indexing System techniques</a></span> 
                    <span class="project-tagline"> (Java) </span>
                </div> -->
            </section><!--//section-->