<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <!-- <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">People Data application</a></span> 
                    <div class="time">2013-2014</div>
                    
                     <span class="project-tagline">- Online application to provide information on students and alumnus.</span>
                    <p>
                        <ul>
                        <li>Worked single-handedly on internal web app, that provides live data from numerous job sites and academic sites about the students and alumnus.<li> 
                        <li>Implemented data extraction modules in form of Django models and external controller classes.</li>
                        <li>Implemented multiple collections in MongoDB for hierarchical storage and fast access modules using PyMongo.</li>
                        <li>Normalization of the models in Django, by defining separate Documents such as for education, pictures, experiences, personal info etc. </li>
                        <li>Implemented separate controllers for authorizations, connection establishment, database operations and API integrations.</li>
                        <li>Strictly focused on MVC principles and loose coupling of modules.</li>
                    <ul>
                    </p>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">DevStudio</a></span> - 
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->